{% extends './base.html' %}

{% block other_css %}

<link href="/static/web/css/about.css" rel="stylesheet">
{% endblock %}

{% block content %}
<article>
  <div class="container">
    <div class="banner">
      <p data-scroll-reveal="enter top over 2s">我来到这个世界上，只带着纸、绳索和身影，为了在审判之前，抗拒那些被判决了的声音：</p>
      <p data-scroll-reveal="enter left over 2s after 1s">告诉你吧，世界 ： 我——不——相——信！</p>
      <p data-scroll-reveal="enter bottom over 2s after 2s">纵使你脚下已有一千名挑战者，那就把我算做第一千零一名。</p>
    </div>
    <div class="memorial_day">
      <div class="time_axis"></div>
      <ul>
        <li class="n1"><a href="/"></a>
          <div class="dateview">成长</div>
        </li>
        <li class="n2"><a href="/"></a>
          <div class="dateview">成熟</div>
        </li>
        <li class="n3"><a href="/"></a>
          <div class="dateview">生命</div>
        </li>
        <li class="n4"><a href="/"></a>
          <div class="dateview">生活</div>
        </li>
        <li class="n5"><a href="/"></a>
          <div class="dateview">未来</div>
        </li>
      </ul>
    </div>
    <div class="about left">
  <h2>Just about me</h2>

    <p style="color: #ffd946; font-size: 50px; text-align: center"> &nbsp; &nbsp;&nbsp;&nbsp;我,正在向阳而生的有志青年</p>
    <p>一名技术宅,爱coding,爱音乐,爱学习。积极进取，奋发向上；有理想，有志气。于生活，热情似火，于工作，积极努力。</p>


    <h2>About my blog</h2>
    <p>域  名：www.afterglow.wang </p>
    <p>服务器：腾讯云服务器
    <p>应用：Python   Django   MySQL   Ajax   Postman   restful</p>

         <h2>Jump Jump To</h2>
        <p>我的GitHub:<a href="https://github.com/MrAfterglow"> https://github.com/MrAfterglow </a> </p>
        <p>网站后台：<a href="http://132.232.37.25/backweb/my_login/"> 进入网站后台  </a> </p>

</div>
  </div>
  </aside>
</article>
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script>
{% endblock %}
