{% extends './base.html' %}

    {% block other_css %}
        <link href="/static/web/css/learn.css" rel="stylesheet">
    {% endblock %}


{% block content %}
<article>
  <div class="container">
    <h2 class="ctitle"><b>学无止境</b> <span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span></h2>
    <div class="rnav">
      <ul>
        <li><a href="{% url 'blog:dont_stop_learn' %}?type=0">所有文章</a></li>
        <li><a href="{% url 'blog:dont_stop_learn' %}?type=1">Python</a></li>
        <li><a href="{% url 'blog:dont_stop_learn' %}?type=2">前端</a></li>
        <li><a href="{% url 'blog:dont_stop_learn' %}?type=3">后端</a></li>
        <li><a href="{% url 'blog:dont_stop_learn' %}?type=4">爬虫</a></li>
        <li><a href="{% url 'blog:life' %}">Life</a></li>
      </ul>
    </div>
    <ul class="cbp_tmtimeline">
      {% for art in page_art %}


      <li>
        <time class="cbp_tmtime"><span>{{art.oprate_time | date:'Y'}}  </span> <span> {{art.oprate_time | date:'m-d'}}</span></time>
        <div class="cbp_tmicon"></div>
        <div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" >
          <h2>{{art.title}}</h2>
          <p><span class="blogpic"><a href="/" ><img src="/media/{{art.image_url}}" alt="" ></a></span>{{art.desc}}</p>
          <a href="{% url 'blog:content' %}?id={{art.id}}" target="_parent" class="readmore">阅读全文&gt;&gt;</a> </div>
      </li>

        {% endfor %}
    </ul>
    <div class="page">
        <!--第一页-->
        <a href="{% url 'blog:dont_stop_learn' %}?type={{type}}"><<</a>
        <!--上一页-->
        {% if page_art.has_previous %}
        <a href="{% url 'blog:dont_stop_learn' %}?page={{page_art.previous_page_number}}&type={{type}}"><</a>
        {% endif %}
        <!--当前页-->
        <b>{{page_art.number}}</b>
        <!--下一页-->
        {% if page_art.has_next %}
        <a href="{%url 'blog:dont_stop_learn' %}?page={{page_art.next_page_number}}&type={{type}}">></a>
        {% endif %}
        <!--下几页-->
        <!--{% for i in page_art.paginator.page_range %}-->
        <!--<a href="{%url 'blog:dont_stop_learn' %}?page={{i}}&type={{type}}">{{i}}</a>-->
        <!--{% endfor  %}-->
    <!--最后一页-->
    <a title="Total record" href="{%url 'blog:dont_stop_learn' %}?page={{page_art.paginator.num_pages}}&type={{type}}"><b>>></b> </a>


    </div>
  </div>
  </aside>
</article>
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script>

{% endblock  %}